/* .servicesHeading{
    display: flex;
    justify-content: center;
    padding: 50px 10px;
    color: darkblue;
}
.servicesButton{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}
.seeMore{
    background-color: #3e3eff47 !important;
    border: navajowhite !important;
    color: black !important;
    font-weight: 400 !important;
    width: 160px !important;
}
.cardName{
    color: rgb(29, 29, 170);
} */
.myCard.px-2.py-2.card.lg.\:.max-w-lg.bg-base-100.shadow-xl {
    border: navajowhite;
}
.card-title{
    color: rebeccapurple;;
}
.card-titlep{
    color: cadetblue;;
}
.card-titlePrice{
    color: teal;
}